version: '3'
services:
  prometheus:
    image: prom/prometheus:v2.14.0
    user: root
    container_name: muta_prometheus
    ports:
      - '{{ prometheus_port }}:9090'
    restart: on-failure
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/etc/prometheus/data
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=365d'
      - '--storage.tsdb.retention.size=150GB'
      - '--storage.tsdb.path=/etc/prometheus/data/'
    networks:
      - prometheus-net
  grafana:
    image: grafana/grafana:7.0.0
    container_name: muta_grafana
    ports:
      - '{{ grafana_port }}:3000'
    restart: on-failure
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
    environment:
      GF_EXPLORE_ENABLED: "true"
      GF_RENDERING_SERVER_URL: http://renderer:8081/render
      GF_RENDERING_CALLBACK_URL: http://grafana:3000/
      GF_LOG_FILTERS: rendering:debug  
    networks:
      - prometheus-net
  
  # link https://github.com/grafana/grafana-image-renderer/blob/master/docs/remote_rendering_using_docker.md    
  renderer:
    image:  grafana/grafana-image-renderer:2.0.0
    container_name: muta-grafana-image-renderer
    ports:
      - 8081  
    networks:
      - prometheus-net
      
  loki:
    image: grafana/loki:1.5.0
    user: root
    container_name: muta_loki
    restart: on-failure
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/loki-config.yaml
      - loki_data:/tmp/loki
    command: -config.file=/etc/loki/loki-config.yaml
    networks:
      - prometheus-net

networks:
  prometheus-net:
    driver: bridge

volumes:
  grafana_data: {}
  prometheus_data: {}
  loki_data: {}
